body{
    background-color: rgb(12, 10, 61);
    display: flex;
    flex-direction: column;
    text-align: center;
    color: burlywood;
}
#head{
    border-radius: 48px;
    background: linear-gradient(145deg, #6475f5, #5462ce);
    box-shadow:  50px 50px 100px #4955b3,
                 -50px -50px 100px #7185ff;
color: turquoise;
}
#vic{
    border-radius: 48px;
    background: #5d6de5;
    box-shadow:  -50px -50px 100px #343d80,
                 50px 50px 100px #869dff;
}

.form{
    color: turquoise;
}
.footer{
    color: turquoise;
}
#socials{
    display: flex;
    flex-direction: row;
    border-radius: 41px;
background: linear-gradient(225deg, #282424, #211f1f);
box-shadow:  -41px 41px 82px #141212,
             41px -41px 82px #363232;
}